{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "printWidth": 80,
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "parser": "scss",
                "singleQuote": true 
            }
        }
    ]
}