.single-column {
    color: $color-text;
    font-size: $base-font-size;
    line-height: $line-height-md;
    padding: $spacing-lg $spacing-xl;

    &__image {
        justify-content: center;
        display: flex;
        align-self: center;
        position: relative;
        overflow: visible;

        &::after {
            content: '';
            background-color: $primary;
            width: 100%;
            height: 80%;
            position: absolute;
            border-radius: $border-radius;
            bottom: -3rem;
            z-index: $z-index-below;
        }
    }

    img {
        width: 80%;
        background-color: $white;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
    }

    &__heading {
        font-weight: $font-semibold;
        font-size: $font-size-lg;
        margin-bottom: $spacing-md;
        line-height: $line-height-xl;
    }

    &__link {
        margin-top: $spacing-md;
        border: none;
        padding: 0.25rem;
        position: relative;
        color: $color-text;
        font-size: $base-font-size;
        display: flex;

        &::after {
            content: url('@/images/icons/arrow-green-right.svg');
        }

        &:hover {
            text-decoration: none;
        }
    }

    .text-tag {
        letter-spacing: 0.2rem;
        color: $secondary;
    }
}